In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("meets.csv")

In [3]:
df.head(10)

,MeetID,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName
0,0,365strong/1601,365Strong,2016-10-29,USA,NC,Charlotte,2016 Junior & Senior National Powerlifting Cha...
1,1,365strong/1602,365Strong,2016-11-19,USA,MO,Ozark,Thanksgiving Powerlifting Classic
2,2,365strong/1603,365Strong,2016-07-09,USA,NC,Charlotte,Charlotte Europa Games
3,3,365strong/1604,365Strong,2016-06-11,USA,SC,Rock Hill,Carolina Cup Push Pull Challenge
4,4,365strong/1605,365Strong,2016-04-10,USA,SC,Rock Hill,Eastern USA Challenge
5,5,365strong/1701,365Strong,2017-04-22,USA,NC,Charlotte,Charlotte Europa Games
6,6,365strong/1702,365Strong,2017-01-21,USA,GA,Martinez,New Year Challenge
7,7,365strong/1703,365Strong,2017-06-10,USA,MO,Lake Ozark,Midwest Regionals
8,8,365strong/1704,365Strong,2017-07-15,USA,SC,Rock Hill,Victory Cup Challenge
9,9,365strong/1705,365Strong,2017-08-12,USA,NC,Fayetteville,Eastern Regional Championship

In [4]:
df.describe()

            MeetID
count  8482.000000
mean   4240.500000
std    2448.686825
min       0.000000
25%    2120.250000
50%    4240.500000
75%    6360.750000
max    8481.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8482 entries, 0 to 8481
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MeetID       8482 non-null   int64
 1   MeetPath     8482 non-null   object
 2   Federation   8482 non-null   object
 3   Date         8482 non-null   object
 4   MeetCountry  8482 non-null   object
 5   MeetState    5496 non-null   object
 6   MeetTown     6973 non-null   object
 7   MeetName     8482 non-null   object
dtypes: int64(1), object(7)
memory usage: 530.3+ KB

In [6]:
df.describe(include="object")

,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName
count,8482,8482,8482,8482,5496,6973,8482
unique,8482,60,2652,45,80,1539,5217
top,xpc/2017-finals,NSF,2017-02-18,USA,TX,Brumunddal,Klubbstevne
freq,1,2517,56,3894,872,163,584

In [7]:
df.describe(include="int64")

            MeetID
count  8482.000000
mean   4240.500000
std    2448.686825
min       0.000000
25%    2120.250000
50%    4240.500000
75%    6360.750000
max    8481.000000

In [8]:
df.sample(5)

,MeetID,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName
7924,7924,uspa/0516,USPA,2015-10-31,USA,VA,Vinton,Monster Bash
3042,3042,nsf/2787,NSF,2014-08-16,Norway,NaN,Gruva,Klubbstevne
6614,6614,usapl/CO-2016-03,USAPL,2016-09-25,USA,CO,Wheat Ridge,Colorado Fall Open
22,22,apa/1001,APA,2010-11-13,USA,FL,NaN,Ironfest Challenge
4764,4764,pa/1662,PA,2016-11-19,Australia,NSW,Sydney,2016 Matti Tikka Powerlifting Championships

In [9]:
df.loc[0:5 , ["MeetPath", "Date"]]

         MeetPath        Date
0  365strong/1601  2016-10-29
1  365strong/1602  2016-11-19
2  365strong/1603  2016-07-09
3  365strong/1604  2016-06-11
4  365strong/1605  2016-04-10
5  365strong/1701  2017-04-22

In [10]:
df.value_counts()

MeetID  MeetPath         Federation  Date        MeetCountry  MeetState  MeetTown       MeetName
8481    xpc/2017-finals  XPC         2017-03-03  USA          OH         Columbus       2017 XPC Finals                      1
8464    wrpf-aus/1701    WRPF-AUS    2017-09-02  Australia    TAS        Launceston     Down Under Classic                   1
8458    wrpf/1709        WRPF        2017-08-26  USA          CA         Mountain View  Boss of Bosses 4 Invitational        1
8457    wrpf/1708        WRPF        2017-08-25  USA          CA         Mountain View  Boss of Bosses 4 Open                1
8450    wrpf/1606        WRPF        2016-08-20  USA          CA         Mountain View  Boss of Bosses 3 Invitational        1
                                                                                                                            ..
5       365strong/1701   365Strong   2017-04-22  USA          NC         Charlotte      Charlotte Europa Games               1
4       365strong/1605   365Strong   2016-04-10  USA          SC         Rock Hill      Eastern USA Challenge                1
3       365strong/1604   365Strong   2016-06-11  USA          SC         Rock Hill      Carolina Cup Push Pull Challenge     1
2       365strong/1603   365Strong   2016-07-09  USA          NC         Charlotte      Charlotte Europa Games               1
1       365strong/1602   365Strong   2016-11-19  USA          MO         Ozark          Thanksgiving Powerlifting Classic    1
Name: count, Length: 4337, dtype: int64

In [11]:
df.count()

MeetID         8482
MeetPath       8482
Federation     8482
Date           8482
MeetCountry    8482
MeetState      5496
MeetTown       6973
MeetName       8482
dtype: int64

In [12]:
df.isnull().sum()

MeetID            0
MeetPath          0
Federation        0
Date              0
MeetCountry       0
MeetState      2986
MeetTown       1509
MeetName          0
dtype: int64

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
new_df= df.drop(["MeetState","MeetTown"] , axis=1 , inplace=False)

In [15]:
new_df.isnull().sum()

MeetID         0
MeetPath       0
Federation     0
Date           0
MeetCountry    0
MeetName       0
dtype: int64

In [16]:
new_df.count()

MeetID         8482
MeetPath       8482
Federation     8482
Date           8482
MeetCountry    8482
MeetName       8482
dtype: int64

In [17]:
new_df.head(10)

,MeetID,MeetPath,Federation,Date,MeetCountry,MeetName
0,0,365strong/1601,365Strong,2016-10-29,USA,2016 Junior & Senior National Powerlifting Cha...
1,1,365strong/1602,365Strong,2016-11-19,USA,Thanksgiving Powerlifting Classic
2,2,365strong/1603,365Strong,2016-07-09,USA,Charlotte Europa Games
3,3,365strong/1604,365Strong,2016-06-11,USA,Carolina Cup Push Pull Challenge
4,4,365strong/1605,365Strong,2016-04-10,USA,Eastern USA Challenge
5,5,365strong/1701,365Strong,2017-04-22,USA,Charlotte Europa Games
6,6,365strong/1702,365Strong,2017-01-21,USA,New Year Challenge
7,7,365strong/1703,365Strong,2017-06-10,USA,Midwest Regionals
8,8,365strong/1704,365Strong,2017-07-15,USA,Victory Cup Challenge
9,9,365strong/1705,365Strong,2017-08-12,USA,Eastern Regional Championship

In [18]:
df["MeetState"].fillna(df["MeetState"].mode()[0],inplace=True)

C:\Users\Remo\AppData\Local\Temp\ipykernel_12704\603911574.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["MeetState"].fillna(df["MeetState"].mode()[0],inplace=True)

In [19]:
df["MeetTown"].fillna(df["MeetTown"].mode()[0],inplace=True)

C:\Users\Remo\AppData\Local\Temp\ipykernel_12704\814261768.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["MeetTown"].fillna(df["MeetTown"].mode()[0],inplace=True)

In [20]:
df.head(10)

,MeetID,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName
0,0,365strong/1601,365Strong,2016-10-29,USA,NC,Charlotte,2016 Junior & Senior National Powerlifting Cha...
1,1,365strong/1602,365Strong,2016-11-19,USA,MO,Ozark,Thanksgiving Powerlifting Classic
2,2,365strong/1603,365Strong,2016-07-09,USA,NC,Charlotte,Charlotte Europa Games
3,3,365strong/1604,365Strong,2016-06-11,USA,SC,Rock Hill,Carolina Cup Push Pull Challenge
4,4,365strong/1605,365Strong,2016-04-10,USA,SC,Rock Hill,Eastern USA Challenge
5,5,365strong/1701,365Strong,2017-04-22,USA,NC,Charlotte,Charlotte Europa Games
6,6,365strong/1702,365Strong,2017-01-21,USA,GA,Martinez,New Year Challenge
7,7,365strong/1703,365Strong,2017-06-10,USA,MO,Lake Ozark,Midwest Regionals
8,8,365strong/1704,365Strong,2017-07-15,USA,SC,Rock Hill,Victory Cup Challenge
9,9,365strong/1705,365Strong,2017-08-12,USA,NC,Fayetteville,Eastern Regional Championship

In [21]:
df.isnull().sum()

MeetID         0
MeetPath       0
Federation     0
Date           0
MeetCountry    0
MeetState      0
MeetTown       0
MeetName       0
dtype: int64

In [22]:
for i in df.columns:
    print(f"{i} : " , df[i].unique())

MeetID :  [   0    1    2 ... 8479 8480 8481]
MeetPath :  ['365strong/1601' '365strong/1602' '365strong/1603' ...
 'xpc/2016-elite-finals' 'xpc/2016-pro-finals' 'xpc/2017-finals']
Federation :  ['365Strong' 'AAU' 'ADFPA' 'APA' 'APC' 'APF' 'WPC' 'AAPF' 'CAPO' 'AsianPF'
 'BB' 'BP' 'BPU' 'CommonwealthPF' 'CPF' 'CPL' 'CPU' 'EPA' 'EPF' 'FESUPO'
 'FFForce' 'FPO' 'GPA' 'GPC' 'GPC-AUS' 'GPC-GB' 'HERC' 'IPA' 'IPF'
 'IrishPF' 'MHP' 'MM' 'NAPF' 'NASA' 'NIPF' 'NPA' 'NSF' 'NZPF' 'OceaniaPF'
 'PA' 'ProRaw' 'RAW' 'RPS' 'XPC' 'RUPC' 'ScottishPL' 'SCT' 'SPF' 'THSPA'
 'UPA' 'USAPL' 'USPF' 'USPA' 'IPL' 'WelshPA' 'WNPF' 'WRPF' 'WRPF-AUS'
 'WRPF-CAN' 'WUAP']
Date :  ['2016-10-29' '2016-11-19' '2016-07-09' ... '2012-03-04' '2014-03-03'
 '2014-10-06']
MeetCountry :  ['USA' 'Australia' 'Finland' 'Ireland' 'Indonesia' 'Russia' 'UK' 'England'
 'New Zealand' 'India' 'Canada' 'Italy' 'Czechia' 'Germany' 'Estonia'
 'Spain' 'Denmark' 'Brazil' 'Peru' 'France' 'Malaysia' 'Serbia' 'Japan'
 'Argentina' 'South Africa' 'Puerto Rico' 'Sweden' 'Norway' 'Colombia'
 'Luxembourg' 'Poland' 'Belarus' 'Iceland' 'Netherlands' 'Cayman Islands'
 'US Virgin Islands' 'N.Ireland' 'Israel' 'Singapore' 'New Caledonia'
 'Ukraine' 'Greece' 'Scotland' 'Wales' 'Kazakhstan']
MeetState :  ['NC' 'MO' 'SC' 'GA' 'IN' 'CA' 'NV' 'PA' 'FL' 'TX' 'OR' 'AK' 'MI' 'AL'
 'OH' 'AR' 'NJ' 'MS' 'VT' 'UT' 'ME' 'ND' 'IL' 'NSW' 'SD' 'LA' 'IA' 'ID'
 'MN' 'SA' 'QLD' 'VIC' 'WA' 'MH' 'BC' 'ON' 'QC' 'NS' 'AB' 'SK' 'MB' 'NL'
 'PE' 'NB' 'ACT' 'NY' 'CT' 'MD' 'WV' 'TN' 'CO' 'VA' 'WB' 'KS' 'OK' 'KY'
 'NM' 'AZ' 'WI' 'WKO' 'WGN' 'NTL' 'AKL' 'OTA' 'CAN' 'BOP' 'STL' 'MWT'
 'TAS' 'NT' 'MA' 'RI' 'NH' 'MT' 'NE' 'DC' 'DE' 'HI' 'WY' 'SP']
MeetTown :  ['Charlotte' 'Ozark' 'Rock Hill' ... 'Tyumen' 'Ishim' 'Canal Fulton']
MeetName :  ['2016 Junior & Senior National Powerlifting Championships'
 'Thanksgiving Powerlifting Classic' 'Charlotte Europa Games' ...
 '2016 XPC Elite Finals' '2016 XPC PRO Finals' '2017 XPC Finals']

In [23]:
for i in df.columns:
    print(f"{i} : " , df[i].nunique())

MeetID :  8482
MeetPath :  8482
Federation :  60
Date :  2652
MeetCountry :  45
MeetState :  80
MeetTown :  1539
MeetName :  5217

In [24]:
for i in df.columns:
    print(f"{i} : " , df[i].value_counts())

MeetID :  MeetID
8481    1
0       1
8465    1
8464    1
8463    1
       ..
6       1
5       1
4       1
3       1
2       1
Name: count, Length: 8482, dtype: int64
MeetPath :  MeetPath
xpc/2017-finals    1
365strong/1601     1
wrpf-can/1701      1
wrpf-aus/1701      1
wrpf/1714          1
                  ..
365strong/1702     1
365strong/1701     1
365strong/1605     1
365strong/1604     1
365strong/1603     1
Name: count, Length: 8482, dtype: int64
Federation :  Federation
NSF               2517
USAPL              976
CPU                969
USPA               864
THSPA              670
PA                 493
SPF                480
RPS                334
NZPF               179
NASA               103
USPF                91
IPA                 88
UPA                 84
IPF                 78
CPF                 58
APF                 53
NIPF                36
APA                 33
BP                  31
EPF                 26
IPL                 21
WRPF                20
IrishPF             20
RAW                 18
GPC-AUS             17
CommonwealthPF      16
XPC                 15
365Strong           14
CPL                 13
WPC                 12
SCT                 12
ProRaw              11
NAPF                11
BB                  11
EPA                 11
GPC                 10
HERC                10
RUPC                 9
OceaniaPF            8
FPO                  8
CAPO                 7
AAU                  7
FFForce              6
GPA                  5
ScottishPL           4
FESUPO               3
APC                  3
MM                   2
AAPF                 2
WUAP                 2
GPC-GB               2
ADFPA                1
BPU                  1
AsianPF              1
MHP                  1
NPA                  1
WNPF                 1
WelshPA              1
WRPF-AUS             1
WRPF-CAN             1
Name: count, dtype: int64
Date :  Date
2017-02-18    56
2016-01-23    47
2017-01-21    42
2016-02-20    41
2017-12-09    40
              ..
1987-07-11     1
1986-07-05     1
2017-11-02     1
2017-09-15     1
2016-11-10     1
Name: count, Length: 2652, dtype: int64
MeetCountry :  MeetCountry
USA                  3894
Norway               2521
Canada               1066
Australia             532
New Zealand           195
Russia                 43
N.Ireland              36
UK                     34
Ireland                21
England                16
Finland                16
Czechia                12
South Africa            8
Spain                   8
Serbia                  7
Italy                   6
France                  6
India                   5
Ukraine                 4
Estonia                 4
Sweden                  4
Scotland                4
Poland                  3
Colombia                3
US Virgin Islands       3
Belarus                 3
Brazil                  3
Germany                 3
Kazakhstan              2
Puerto Rico             2
Denmark                 2
Luxembourg              2
Greece                  2
Indonesia               1
Argentina               1
Peru                    1
Malaysia                1
Japan                   1
Netherlands             1
Iceland                 1
Cayman Islands          1
New Caledonia           1
Singapore               1
Israel                  1
Wales                   1
Name: count, dtype: int64
MeetState :  MeetState
TX     3858
CA      399
ON      290
OH      166
PA      164
       ...
DE        2
WB        1
MWT       1
DC        1
SP        1
Name: count, Length: 80, dtype: int64
MeetTown :  MeetTown
Brumunddal       1672
Bergen            124
Halden            101
Melbourne          96
Oslo               93
                 ...
Summerville         1
Lawton              1
Signal Hill         1
Yuma                1
Tysons Corner       1
Name: count, Length: 1539, dtype: int64
MeetName :  MeetName
Klubbstevne                                           584
Seriestevne                                           458
Åpent stevne                                          399
Klubbmesterskap                                       121
Kretsstevne                                            58
                                                     ...
2015 XPC                                                1
2016 XPC Bench Freak Show                               1
2016 XPC Elite Finals                                   1
2016 XPC PRO Finals                                     1
IronFest Powerlifting and Benchpress Championships      1
Name: count, Length: 5217, dtype: int64

In [25]:
df.to_csv("meetsOutput_1.csv" , index=False)
new_df.to_csv("meetsOutput_2.csv")